


<script type="text/javascript" src="./includes/jquery.tablesorter.js"></script>
<script type="text/javascript" src="./templates/call.js"></script>

<div class="w3-padding w3-margin-top" style="width:500px; height: 50px; margin: 10px auto">


<select class="w3-border" style="display: inline-block; width: 100px" name="item">
    <option value="" disabled selected>缺貨物料</option>
    <option value="1">綠茶</option>
    <option value="2">紅茶</option>
    <option value="3">吐司麵包</option>
    <option value="4">吸管</option>
    <option value="5">杯蓋</option>
    <option value="-1">+新增</option>
</select>
<input type="text" name="item" placeholder="品項" style="display: none">
<input type="text" name="number" placeholder="數量">
<input type="submit" name="submit" value="送出">


</div>


<br>


