


<script type="text/javascript" src="./includes/jquery.tablesorter.js"></script>
<script type="text/javascript" src="./templates/call.js"></script>


<table class="w3-table-all w3-centered" style="width: 70%; margin: 10px auto">
<thead>
    <tr>
        <th width="30%">補料品項</th>
        <th width="30%">補料數量</th>
        <th width="20%">選取</th>
        <th></th>
    </tr>

</thead>

<tbody>
    <tr>
        <td>綠茶</td>
        <td><input type="number" data-name="green_tea" style="width: 100px" min="0">公升</td>
        <td><input type="checkbox" name="item"></td>
        <td></td>
    </tr>

    <tr>
        <td>紅茶</td>
        <td><input type="number" data-name="red_tea" style="width: 100px" min="0">公升</td>
        <td><input type="checkbox" name="item"></td>
        <td></td>
    </tr>

    <tr>
        <td>吸管</td>
        <td><input type="number" data-name="straw" style="width: 100px" min="0">支</td>
        <td><input type="checkbox" name="item"></td>
        <td></td>
    </tr>

    <tr>
        <td>杯蓋</td>
        <td><input type="number" data-name="lid" style="width: 100px" min="0">片</td>
        <td><input type="checkbox" name="item"></td>
        <td></td>
    </tr>

    <tr>
        <td>吐司</td>
        <td><input type="number" data-name="toast" style="width: 100px" min="0">袋</td>
        <td><input type="checkbox" name="item"></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="submit" class="w3-small-btn w3-small w3-white w3-border w3-border-blue w3-text-blue w3-round-xlarge">總店叫料</button></td>
    </tr>

</tbody>
</table>


<br>


