


<script type="text/javascript" src="./includes/jquery.tablesorter.js"></script>
<script type="text/javascript" src="./templates/call.js"></script>


<table class="w3-table-all w3-centered" style="width: 70%; margin: 10px auto">
<thead>
    <tr>
        <th width="40%">補料品項</th>
        <th width="40%">補料數量</th>
        <th></th>
    </tr>

</thead>

<!--　品項 : 單位  -->
<tbody>
{% for item in data %}
    <tr>
        <td>{{ item.raw_name }}</td>
        <td><input type="number" style="width: 100px" min="0"> {{ item.unit }}</td>
        <td></td>
    </tr>
{% endfor%}

    <tr>
        <td></td>
        <td></td>
        <td><button id="submit" class="w3-small-btn w3-small w3-white w3-border w3-border-blue w3-text-blue w3-round-xlarge">總店叫料</button></td>
    </tr>

</tbody>
</table>


<br>


