



    <div id="a0" class="w3-container">
        <h3><center>即時訂單資訊</center></h3>

		<div id="unDo">
			<span id="unDoText"></span><span id="unDoCntDwn"></span>
		</div>
		<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable" id="order_list" >
		<thead id="order_list_header">
			<tr >
				<th>桌號</th>
				<th>狀態</th>
				<th>品項</th>
				<th>總價錢</th>		
			</tr>
		</thead>
		

		</table>

	<!------ Debug 
	<button id="debug_get_table">Get table html</button>
	<textarea id="debug_text"> </textarea>
	----->
	</div>
    
    <div>&nbsp;</div>

 <script src="templates/customer_listorder_orderhandle.js"></script>
 
