    <link href="./templates/customer_register.css" rel="stylesheet">
    <div class="customer_register">
    <div><img src="./images/register/title.png"></div>
    
    <div>
        <img src="./images/register/name_icon.png">
        <input type="text" name="" class="menu_input" placeholder="Your Name">
        <hr>
        <div class="annotation">請填寫全名</div>
    </div>
    
    <div>
        
        <input type="radio" name="gender" value="man">
        <img src="./images/register/man_icon.png">
        Men
        <input type="radio" name="gender" value="woman">
        <img src="./images/register/woman_icon.png">
        Woman
        <hr>
        <div class="annotation">性別</div>
    </div>

    <div>
        <img src="./images/register/birthday_icon.png">
        <input type="text" name="" class="menu_input" placeholder="Your Name">
        <hr>
        <div class="annotation">出生/年/月/日</div>
    </div>

    <div>
        <img src="./images/register/phone_icon.png">
        <input type="text" name="" class="menu_input" placeholder="Phone Number">
        <hr>
        <div class="annotation">請填寫電話號碼</div>
    </div>
    
    <div>
        <img src="./images/register/email.png">
        <input type="text" name="" class="menu_input" placeholder="Email-address">
        <hr>
        <div class="annotation">請填寫常用電子郵件</div>
    </div>
    
    <div>
        <img src="./images/register/password.png">
        <input type="password" name="" class="menu_input" placeholder="Your password">
        <hr>
        <div class="annotation">請填寫六位數以上英數字</div>
    </div>

    <div>
        <img src="./images/register/clear_icon.png">
        <img src="./images/register/submit_icon.png">
    </div>
    
    </div>