    <link href="./templates/happytea_customer_menu.css" rel="stylesheet">
    <div class="happytea_customer_menu">
    <div><img src="./images/customer_menu/title.png"></div>
    
    <div>
        <a href="./index.php"><img src="./images/customer_menu/tea_drinks.png"></a>
        <img src="./images/customer_menu/tea_commodity.png">
    </div>
    
    <div>
        <img src="./images/customer_menu/sale.png">
        <img src="./images/customer_menu/news.png">
        <img src="./images/customer_menu/retail.png">
    </div>
    
    <div>
        <img src="./images/customer_menu/craftsman.png">
        <img src="./images/customer_menu/shopping.png">
    </div>
    
    <p class="happyttea"><a href="http://www.happyttea.com">www.happyttea.com</a></p>