<!DOCTYPE html>


<html>

<head>
<title>{{PAGE_TITLE}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--

	Unified JS & CSS Block

-->

<!-- w3 css template -->
<link rel="stylesheet" href="./templates/w3.css">


<!-- alertify -->
<script src="./includes/alertify/alertify.js"></script>
<link rel="stylesheet" href="./includes/alertify/alertify.core.css" />
<link rel="stylesheet" href="./includes/alertify/alertify.default.css" />


<!-- jQuery -->
<script src="./includes/jquery/jquery-1.11.3.min.js"></script>
<script src="jquery.mobile.custom.min.js"></script>
<link href="./includes/jquery/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet">
<script src="./includes/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="./includes/jquery/moment.min.js"></script>


	<!-- in report <script src="./includes/jquery/mobile/jquery.mobile-1.4.5.min.js"></script> -->

	<!-- START: Why is this in template?	-->
<script src="./templates/jquery.comiseo.daterangepicker.js"></script>
<link href="./templates/jquery.comiseo.daterangepicker.css" rel="stylesheet">
	<!-- END: Why is this in template?  -->


<!-- d3 -->
<script src="./includes/d3/d3.min.js"></script>

<!-- Sortable -->
<script src="includes/Sortable-1.4.0/Sortable.min.js"></script>


<!-- our stylesheet & js -->
<link rel="stylesheet" href="./templates/listorder.css">
<link rel="stylesheet" href="./templates/report.css">
<link rel="stylesheet" href="./templates/customer_menu.css">
<link rel="stylesheet" href="./templates/sms_promote.css">

<script src="./templates/header.js"></script>

<!--

	Unified JS & CSS Block

-->

</head>
<body class="w3-container">
{% if USER_IDENTITY == 'admin' %}
	<nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
		<a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
		<hr>
		{% if TOP_SHOP == '-1' %}
			<a href="listorder.php" rel="external" class="w3-center">即時訂單</a>
			<br>
			<a href="empty.php" rel="external" class="w3-center">分店資訊</a>
			<br>
			<a href="inventory.php" rel="external" class="w3-center">物料管理</a>
			<br>
			<a href="sms_promote.php" rel="external" class="w3-center">簡訊推播</a>
			<br>
			<a href="edit_menu.php" rel="external" class="w3-center">菜單編輯</a>
			<br>
			<a href="top_report.php" rel="external" class="w3-center">總營運報表</a>
			<br>
			<a href="top_register.php" rel="external" class="w3-center">帳號新增</a>
			<br>
		{% else %}
			<a href="report.php" rel="external" class="w3-center">營運報表</a>
			<br>
			<a href="sms_promote.php" rel="external" class="w3-center">簡訊推播</a>
			<br>
			<a href="call.php" rel="external" class="w3-center">上游叫料</a>
			<br>
			<a href="register.php" rel="external" class="w3-center">帳號新增</a>
			<br>
		{% endif %}
		<a href="staff_login.php" rel="external" class="w3-center">登出&nbsp;{{username}}</a>
    <hr>
		{% for series in all_series %}
  		<a href="#s{{series.s_id}}" class="w3-center" >{{series.name}}</a>
      <br>
		{% endfor %}
	</nav>
{% elseif USER_IDENTITY == 'staff' %}
	<nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
		<a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
		<hr>
		{% if TOP_SHOP == -1 %}
			<a href="empty.php" rel="external" class="w3-center">分店資訊</a>
			<br>
			<a href="listorder.php" rel="external" class="w3-center">即時訂單</a>
			<br>
			<a href="sms_promote.php" rel="external" class="w3-center">簡訊推播</a>
			<br>
			<a href="edit_menu.php" rel="external" class="w3-center">菜單編輯</a>
			<br>
		{% else %}
			<a href="index.php" class="w3-center" >點餐頁面</a>
			<br>
			<a href="listorder.php" rel="external" class="w3-center">即時訂單</a>
			<br>
		{% endif %}
		<a href="staff_login.php" rel="external" class="w3-center">登出&nbsp;{{username}}</a>
    <hr>
		{% for series in all_series %}
  		<a href="#s{{series.s_id}}" class="w3-center" >{{series.name}}</a>
      <br>
		{% endfor %}
	</nav>
{% elseif USER_IDENTITY == 'customer' %}
	<nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
		<a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
		<hr>
		<a href="listshop.php" class="w3-center">{{shopname}} (更換店家)</a>
		<hr>
		<a href="customer_listorder.php" class="w3-center" >出餐進度</a>
		<br>
		<a href="index.php" class="w3-center" >點餐頁面</a>
		<br>
		<a href="login.php" rel="external" class="w3-center">登出&nbsp;{{username}}</a>
		<hr>
		{% for series in all_series %}
			<a href="#s{{series.s_id}}" class="w3-center" >{{series.name}}</a>
			<br>
		{% endfor %}
	</nav>
{% else %}
	<nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
		<a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
		<hr>
		<a href="login.php" class="w3-center" >登入</a>
		<br>
		<a href="register.php" class="w3-center" >註冊</a>
		<hr>
	</nav>
{% endif %}

<div data-role="page"  id="main" >
    <header class="w3-container w3-lime">
	  <span class="w3-opennav w3-xlarge"><a id="nav_open" style="text-decoration: none; color:#000000;">&#9776;</a></span>
	  <h1>{{PAGE_TITLE}}</h1>
    </header>
