<script type="text/javascript" src="./includes/jquery.tablesorter.js"></script>
<script type="text/javascript" src="./templates/inventory.js"></script>


<table class="w3-table-all w3-centered">
<thead>
    <tr>
        <th width="20%">時間</td>
        <th width="20%">店家</td>
        <th width="20%">補料品項</td>
        <th width="20%">補料數量</td>
        <th width="20%">操作</td>
    </tr>

</thead>

<tbody>
    <tr>
        <td>2016-09-30 11:38:28</td>
        <td>2</td>
        <td>綠茶</td>
        <td>500</td>
        <td><button class="w3-small-btn w3-small w3-white w3-border w3-border-black w3-text-black w3-round-xlarge">已處理</button></td>
    </tr>

    <tr>
        <td>2016-09-30 13:23:55</td>
        <td>1</td>
        <td>吸管</td>
        <td>1200</td>
        <td><button class="w3-small-btn w3-small w3-white w3-border w3-border-black w3-text-black w3-round-xlarge">已處理</button></td>
    </tr>

    <tr>
        <td>2016-10-01 14:45:32</td>
        <td>2</td>
        <td>紅茶</td>
        <td>500</td>
        <td><button class="w3-small-btn w3-small w3-white w3-border w3-border-black w3-text-black w3-round-xlarge">已處理</button></td>
    </tr>
</tbody>
</table>

<br>


