<script type="text/javascript" src="./includes/jquery.tablesorter.js"></script>
<script type="text/javascript" src="./templates/inventory.js"></script>


<table class="w3-table-all w3-centered">
<thead>
    <tr>
        <th width="20%">時間</td>
        <th width="20%">店家</td>
        <th width="20%">補料品項</td>
        <th width="20%">補料數量</td>
        <th width="20%">操作</td>
    </tr>

</thead>

<tbody>

{% for item in data %}
    <tr>
        <td>{{ item.call_time }}</td>
        <td>{{ item.shop_id }}</td>
        <td>{{ item.ingredient }}</td>
        <td>{{ item.num }} {{ item.unit }}</td>
        <td><button class="w3-small-btn w3-small w3-white w3-border w3-border-black w3-text-black w3-round-xlarge">已處理</button></td>
    </tr>
{% endfor %}

</tbody>
</table>

<br>


